<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<div>There are <%= @count_products %> many products in the database. </div>
<div>There are <%= @count_categories %> many categories in the database. </div>